
@import "globals";
@import "variables";
@import "header";
@import "nav";
@import "terapias";




/*IMAGEN SUPERIOR*/



.principal{
    position: relative;
    
    
}

.d-block{
    filter: grayscale(100%)
}

/*INFORMACION SOBRE LA TERAPIA, GRAFICO*/

.section1 {
    display: flex;
    justify-content: center;
}

.texto {
    color: $font_color_text;
    width: 40rem;
    height: 40rem;
    overflow: hidden;
    margin: 2%;
    text-align: justify;
    padding: 28px;
    font-family: $font_general;
    animation: carga2 1s;
}

.texto h1 {
    text-align: center;
}
.grafico{
    width: 35rem;
    height: 30rem;
    margin-top: 2%;
}

@keyframes carga2{
from{margin-left:-650px;}
to{margin-left:0px;}
}


/*TABLA CON INFORMACION*/

.table-active{
    text-align: center;
}


.ol1 {
text-align: center;
    
}

body {
    background: white;
    color: $font_color_text;
    position: relative;
} 



/*SECCION CONTACTO*/

.contacto-formulario {
    clear: both;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-auto-columns: 33.3%;
    height: 25%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    color: rgb(143, 212, 179);
    background-color: #f3f2ec;
    margin-bottom: 5rem;
    margin-left:auto;
    margin-right: auto;
    align-items: justify;
      
    
}

iframe{
    margin-top:25%;
}

.radio{
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    
}

.boton1{
    margin-left: 5rem;
}

.trsi{
    font-size: 0.8rem;
    margin-left: 2rem;
    

}

.typr{
    width: 1rem;
    margin: 0.2%;
    margin-left: 5rem;
        
}

.contacto {
    margin: 2rem;
    padding: 1rem;
    height: 30rem;
    width: 80%;
    color: rgb(143, 212, 179);

}




/*LOGOS REDES*/

.footer__logos {
    text-align: center;
    margin-left: 1.3rem;
}

.footer__logos__redes {
    color: rgb(143, 212, 179);
    font-size: 2rem;
    margin-right: 1.5rem;
    text-shadow: 1px 1px 5px black;
}


/*FORMULARIO DE CONTACTO*/

.formi {
    
    margin: 2rem;
    height: 30%;
    width: 80%;
    
    
}

label{
    display: inline-block;
    width: 15%;
    margin: 2%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(143, 212, 179);
    font-size: 14px;
    font-weight: 300;
    margin-left: 5rem;
    
    
}
      
      
   
input{
    margin-right: 3px;
    width:65%;
    outline: none;
    letter-spacing: 1px;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(133, 133, 133);
    margin-left: 5rem;
    
}

.preg{
    margin-top: 0.8rem;
    display:inline-block;
    padding: 1%;
    border-radius: 30px;
    margin-bottom: -2rem;
    margin-left: 5rem;
   
}

.preg>p{
    font-size: 1rem;
    margin-bottom: 0.8rem;
    text-transform:uppercase;
    margin-left:5rem;
}

#disponibilidad{
    width: 5.5rem;
    height: 1.5rem;
    
    margin-left: 5rem;

}
#consulta{
    width: 90%;
    color: rgb(133, 133, 133);
    margin-left: 5rem;
    
}



/*FOOTER*/

.footeri {
    background-color: #1c1c1c;
    padding: 1%;
    height: 12%;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    bottom: 0;
}

.footer-sitio {
    margin-left: -60%;
    text-align: justify;
    color: #9c9c9c;
    font-family: 'Rubik', sans-serif;
    padding-right: 1rem;
    margin-right: 1%;
}

.footer-sitio h4 {
    color: white;
    border-bottom: 2px solid grey;
    
}

.footer-publicaciones {
    margin-right: -60%;
    text-align: justify;
    color: #9c9c9c;
    font-family: 'Rubik', sans-serif;
    padding-left: 1rem;
    margin-left: 1%rem;
}

.footer-publicaciones h4 {
    color: white;
    border-bottom: 2px solid grey;
    
}




/*PAGINA SOBRE MI*/

.sobremi {
    margin-top: 10rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    margin-right: 18.5%;
    margin-left: 18.5%;
    
}

.sobremi-texto{
margin-right: 5%;
}

.sobremi-texto>h2{
    margin-bottom: 2%;

}
.fotopsi1 {
    width: 17rem;
    height: 17rem;
    margin-top: 2%;
    
}

.cv {
    background-color: rgba(87, 86, 86, 0.1);
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Rubik', sans-serif;
}

.cv h3 {
    padding: 2rem;
}

.cv h4 {
    padding: 1rem;
}

.cv ul li {
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: justify;
}

.cv p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}


/*PAGINA CONTACTO*/

.contenedor{
    margin-top:12rem;
    width: 75rem;

    margin-bottom: 12rem;
}

.pagina-contacto {
    margin-top: 10rem;
    margin-left: 12rem;
    margin-right: 12rem;
    
}

.sesiones-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 70rem;
    height: 32rem;
    text-align: center;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    margin: 12rem auto 4rem;
    color: #7c746c;
    position: relative;
    z-index: 1;
    }

.individuales {
    border: 1px solid #C1AC95;
    width: 25rem;
    margin-right: 2rem;
    margin-left: 1rem;
    box-shadow: 2px 4px 8px;
    transition: 0.3s ease all;
    
}
.individuales:hover{
    transform: translateY(5px);
}
.on-line:hover{
    transform: translateY(-5px);

} 
.on-line__exterior:hover{
    transform: translateY(5px);

}

.on-line {
    border: 1px solid #C1AC95;
    width: 25rem;
    margin-right: 2rem;
    margin-left: 1rem;
    box-shadow: 2px 4px 8px;
    justify-items: center;
    position: relative;
    transition: 0.3s ease all;
    
}

.on-line__exterior {
    border: 1px solid #C1AC95;
    width: 25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 4px 8px;
    transition: 0.3s ease all;
    
}

.sesiones-container h3 {
    margin-bottom: 1em;
    margin-top: 1rem;
    
}

.sesiones-container p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 15rem;
}

.image-online {
    width: 30rem;
    margin-top: -2rem;
    position: absolute;
    z-index: -1;
    margin-left: -15rem;
}

.image-individuales {
    width: 17rem;
    height: 12rem;
    margin-top: 2.5rem;
    position: absolute;
    z-index: -1;
    margin-left: -8.5rem;
}

.image-online-exterior {
    width: 11rem;
    margin-top: 2.7rem;
    margin-left: -5.2rem;
    position: absolute;
    z-index: -1;
}

.map-cont{
    width: 95%;
    height: 25rem;
}



/*PAGINA MAS*/

.mas {
    /* margin-top: 10rem; */
    margin-left: 12rem;
    margin-right: 12rem;
}

.contactame{
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 12rem;
}

.contactame a{
    text-decoration: none;
    font-family: $font_general;
}

.iframevid{
    
    width: 45rem;
    height: 25rem;
}

.video {
    text-align: center;
    margin-top: -12%;
    margin-bottom: 5rem;
}

//Media Queries

@media (max-width: 1994px){
.leer{
    display:none;
}
}

@media (max-width: 1750px){


    input{
        width:65%; 
      
    }

    .preg{
        display: block;
        margin-left: -5rem;

    }
    .radio{
        display:block;
        margin-bottom: 2rem;
        margin-left: 5rem;

    }
    .typr{
       margin-left: 2rem;
        
    }
    .trsi{
        margin-right: 0.5rem;
    }
    .formi{
        margin-left:5rem;

    }
    #consulta{
        margin-left: -0.2rem;
    }

}
@media (max-width: 1580px){
    .contacto h3{
        font-size: 1.3rem;
    }
    .fotopsi1{
        margin-top: -1rem;
    }

}

@media (max-width: 1440px){
    .labeli{
    margin-right: 1.5rem;
    }
    input{
    width: 75%;
    }
    .contacto h3{
    font-size: 1.5rem;
    }
    
    .trsi{
        margin-right: 0.5rem;
    }
    .typr{
        margin-right: 0.5rem;
        
    }
    .iframei{
        height: 25rem;
    }
    .sobremi{
        display:block;
    }
    .fotopsic{
       margin-top:2rem;
      text-align: center;
    }
     }    



@media (max-width: 1280px){
    .nav__link{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 8rem;
    }
    .lista1{
        margin-top: 2rem;
        
    }
    .grafico{
        display:none;
    }
    .nav__link1::after{
        left: 40px;
        width: 46px;
      
    }
    .nav__link2::after{
        left: 30px;
        width: 68px;
        }
    .nav__link3::after{
        left: 26px;
        width: 75px;
            }
    .nav__link4::after{
        left: 26px;
        width: 78px;
                }
    .nav__link5::after{
        left: 46px;
        width: 38px;
                    }
    .iframei{
        height:19rem;
    }
    .trsi{
        margin-left: 1rem;
    }

    .map-cont{
        height: 20rem;
    }
.cv{
    width: 85%;
}

.cv ul li {
    margin-left: 20%;
    margin-right: 20%;

}
.sobremi-texto{
    margin-left: -22%;
    margin-right: -22%;
}

}

@media (max-width: 1050px){
    .nav__link{
        padding-left: 1rem;
        padding-right: 1rem;
        width: max-content;
        margin-top: 1.5rem;
    }
    .nav__link1::after{
        left: 15px;
        width: 48px;
      
    }
    .nav__link2::after{
        left: 18px;
        width: 68px;
        }
    .nav__link3::after{
        left: 16px;
        width: 75px;
            }
    .nav__link4::after{
        left: 16px;
        width: 78px;
                }
    .nav__link5::after{
        left: 14px;
        width: 38px;
                   }   

}

@media (max-width: 991px){

    .logoi{
        margin-top:-4rem;
    }

    .navbar-nav{
        flex-direction: column;
        background-color: white;
        height: calc(100vh + 115px);
        text-align: center;
        font-size: 20px;
    }
    .dropdown-menu{
        width: 35%;
        right: auto;
        left: 50%;
        -webkit-transform: translate(82%, 0);
        -o-transform: translate(82%, 0);
        transform: translate(82%, 0);
                
    }
    .contacto-formulario{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
        align-items: center;
        height: 55%;
    }
    .preg{
        text-align: center;
        font-size: 1rem;
    }
    #consulta{

        width: 25rem;
        height: 10rem;
    }
    .formi{
        text-align: center;
    }
    .texto{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .iframei{
        margin-top:2%;
        width: 60%;
    }
    .typr{
        margin-right: -1rem;
        
    }
    .trsi{
        margin-right: -1rem;
    }

    .map-cont{
        align-items: center;
        width: 100%;
        height: 25rem;
    }

}

@media (max-width: 800px){
    .tcc_resto{
        display: none;
            }
    .pareja{
        display:none;
    }
   .pareja_resto{
        display: none;
                    }
   .virtual{
       display:none;
   }                 
   .terapias__parejas{
       margin-top: 2rem;
   }
   .terapias__virtual{
    margin-top: 3.5rem;
}
}

@media (max-width: 769px){

    .logoi{
        margin-top:-0.5rem;
        margin-left: 5rem;
    }
  
    .logo__firma {
   
        font-size: 250%;
    
    }
}

@media (max-width: 768px){

    .nav__link1::after{
        left: 18px;
        width: 50px;
      
    }
    .nav__link2::after{
        left: 18px;
        width: 80px;
        }
    .nav__link3::after{
        left: 18px;
        width: 84px;
            }
    .nav__link4::after{
        left: 18px;
        width: 84px;
                }
    .nav__link5::after{
        left: 18px;
        width: 40px;
                    }
    
    .toggle{
        display:block;
        margin-top:-4.5rem;
        margin-left: 82%;
        z-index: 999;
        
        }
    .logo{
        float:none;
    }
         
    .logo__firma {
   
        font-size: 250%;
    
    }
    .logo h4{
        font-size: 0.8rem;
    }
    .logo h2, .logo h4 {
        margin-left: -65%;
        
    }   
    .section1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    .nav__logos{
        margin-top:-8rem;
        margin-left: 78%;
        display: flex;    
    }
    .nav__logos__redes{
        display:none;          
        
    }
    .nav__list{ 

        flex-direction: column;
        background-color: #f3f2ec;
        height: calc(100vh + 115px);
        width: 100%;
        padding-top:22rem;
        overflow-y: auto;
        margin-top: 100rem;  
        font-size: 20px;      
        margin-left:auto;
        margin-right:auto;
    }

    .nav__lists{
        padding-top:12rem;


    }

    .principal{
        margin-top: 8%;
        z-index: 999;
        
    }

    .nav-list__visible{
        margin-top: 1.5rem;
              
    }
    .nav__item{
        text-align: center;
        margin-bottom: 3rem;
        
    }
    .nav__sublist{
        margin-top: -2.5rem;
    }

    .nav__sublink{
        margin-left: 27rem;
        background-color: #e6e4dd;
       
    }

    .grafico{
        width: 25rem;
        height: 20rem;
        margin-top: -10%;
        margin-left: 25%;    
    }

    .tablei{
        display:none;
    }
    .lista1{
     
        display:none;
        
    }
    .estrategias{
        display:none;
    }
    .leer{
        display:block;
    }
    .texto{
        margin-bottom: -25rem;
    }

    .page-center{
        margin-top: 2rem;
        width: 100%;
    }

    .contacto-formulario{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
        align-items: center;
        height: 55%;
    }
    .preg{
        text-align: center;
        font-size: 1rem;
    }
    #consulta{

        width: 25rem;
        height: 10rem;
    }
    .formi{
        text-align: center;
    }
    .texto{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .iframei{
        margin-top:2%;
        width: 60%;
    }
    .typr{
        margin-right: -1rem;
        
    }
    .trsi{
        margin-right: -1rem;
    }

    .cv ul li{
        margin-left: 1%;
        margin-right: 8%;
       
        }

    .logo{
    margin-left: 2.2rem;
    }
    .logoi{
    margin-left: 4.3rem;
    }
    .iframevid{
    
    width: 30rem;
    height: 15rem;
    margin-top: 35%;
}
    .mas{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
    .contactame{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

  .nav__item:hover .nav__sublist{
      margin-left: -2.2rem;

}
.nav__item:active .nav__sublist{

    margin-left: -2.2rem;
}

.nav__link2{
    padding-bottom: 1.5rem;
}

}

@media (max-width: 660px){


    .nav__item:hover .nav__sublist{
        margin-left: -6.5rem;
  
  }
  .nav__item:active .nav__sublist{
  
      margin-left: -6.5rem;
  } 
  .logo h2, .logo h4 {
    margin-left: -55%;
    
}   
.cv ul li{
margin-left: 1%;
margin-right: 8%;
font-size: 0.8rem;
}
.sobremi-texto{
    font-size: 0.9rem;
    
}
.footer-sitio h4{
    font-size: 1.2rem;
}
.footer-sitio p{
    text-align: left;
}
.footer-publicaciones h4{
    font-size: 1.2rem;
}
.footer-publicaciones p{
    text-align: left;
}
.nav-list__visible{
    margin-top: 0rem;
          
}

}

@media (max-width: 570px){

    .nav__item:hover .nav__sublist{
        margin-left: -8.5rem;
    
    }
    .nav__item:active .nav__sublist{
    
      margin-left: -8.5rem;
    
    } 
    .nav-list__visible{
        margin-top: -1.5rem;
              
    }

}

@media (max-width: 530px){
.logo{
    margin-left: 3.5rem;
    }
.logoi{
    margin-left: 4.2rem;
    }
#consulta{
    width: 80%;
    }

.iframevid{
    
    width: 26rem;
    height: 15rem;
    margin-top: 35%;

}
.map-cont{
    height: 20rem;
}
.nav__item:hover .nav__sublist{
    margin-left: -10.5rem;

}
.nav__item:active .nav__sublist{

  margin-left: -10.5rem;

} 
.nav-list__visible{
    margin-top: -1.8rem;
          
}

}

@media (max-width: 485px){

    .nav__item:hover .nav__sublist{
        margin-left: -1rem;
    
    }
    .nav__item:active .nav__sublist{
    
      margin-left: -13rem;
    
    } 
    .nav-list__visible{
        margin-top: -2.5rem;
              
    }

}
@media (max-width: 442px ){

    .texto p{
        font-size: 0.9rem;
    }
.toggle{
    margin-left: 75%;
}
.logo{
    margin-left: 18%;
}
.iframevid{
    
    width: 22rem;
    height: 10rem;
    margin-top: 45%;

}
.map-cont{
    height: 12rem;
}

.nav__item:hover .nav__sublist{
    display: none;

}
.nav__item:active .nav__sublist{
  display: none;
}
.nav-list__visible{
    margin-top: -5rem;
          
} 
}

@media (max-width: 384px ){

    .container2{
       display: none;
}
.logo h2, .logo h4 {
    margin-left: -45%;
    
}   
.nav-list__visible{
    margin-top: -7rem;
          
}
.fotopsi1{
    margin-left: -1.2rem;
}


}